VITE_API_URL=https://api.tablenow.io
VITE_FRONTEND_URL=https://app.tablenow.io
VITE_SUPABASE_URL=https://kvxujqgaaongkoczjyhc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2eHVqcWdhYW9uZ2tvY3pqeWhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxOTU1ODQsImV4cCI6MjA4MDc3MTU4NH0.o5CLEM00nC_cZNEjYgZPvGnnxqS1Wu9PFrpw64fIdrs
